/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet"> */

$fuente_principal:  'Montserrat', sans-serif;

/* PALETA DE COLORES https://colorhunt.co/palette/eb5353f9d92336ae7c187498 */
$rojo : #EB5353;
$amarillo : #F9D923;
$verde : #36AE7C;
$azul : #187498;

$gris: #DDDDDD;
$grisOscuro: #999999;

$negro: #000000;
$blanco: #ffffff;

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopxl: 1200px
